.order-item {
    list-style-type: none;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .order-item div
  .button-container {
    margin-bottom: 10px;
  }

  .status {
    padding: 15px 0;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Alinha os botões para a esquerda */
    flex-wrap: wrap; /* Permite que os botões passem para a próxima linha se não couberem na linha atual */
  }
  
  button {
    padding: 8px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #eee;
  }
  